/* Contenedor principal del dashboard */
.container-dashboard {
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center; 
  max-width: 1000px;
  margin: 0 auto; 
}

/* Nombre de usuario */
.username{
  color: #333;
  margin-bottom: 20px; 
  text-align: center; 
}

/* Estilos del formulario */
form {
  width: 70%; 
  margin: 0 auto; 
  padding: 20px; 
  background-color: #f9f9f9; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
}

/* Ajustes del input, select, textarea, y botón */
input, select, textarea, button {
  margin-bottom: 15px;
  padding: 12px; 
  width: 100%;
  box-sizing: border-box; 
}

/* Estilo para la tabla */
.table {
  width: 100%; /* Ajuste para ocupar todo el ancho del contenedor */
  max-width: 1000px; /* Máximo ancho de la tabla */
  margin: 20px auto; 
  border-collapse: collapse;
  overflow-x: auto; /* Para que sea manejable en caso de desbordamiento */
}

/* Estilo para las celdas de la tabla */
.table th, .table td {
  padding: 12px;
  text-align: center; 
  border: 1px solid #ddd;
}

.table th {
  background-color: #561C24;
  color: #e8d8c4;
}

/* Estilo de botones */
button {
  border: none;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  font-size: 16px; 
  border-radius: 4px;
  transition: background-color 0.3s ease, border-color 0.3s ease; 
}

/* Estilos para botones específicos */
button.btn-primary {
  background-color: #561C24; 
  color: #e8d8c4;
  border: 2px solid #333; 
}

button.btn-primary:hover {
  background-color: #e8d8c4; 
  color: #561C24;
  border-color: #561C24; 
}

/* Responsividad */
@media (max-width: 768px) {
  .table {
    width: 100%; /* Ocupar todo el ancho disponible en pantallas pequeñas */
  }

  .table th, .table td {
    display: block;
    width: 100%; 
    box-sizing: border-box;
    text-align: left; 
    padding: 10px;
  }

  form {
    width: 90%; /* Ajustar el formulario en pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  .table td {
    padding: 6px;
    font-size: 12px;
  }

  input, select, textarea, button {
    font-size: 14px;
  }

  .container {
    max-width: 100%; 
  }
}
