@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-item {
  animation: fadeInUp 2.8s ease forwards;
  transition: box-shadow 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 /* height: 100%; /* Asegura que la tarjeta ocupe toda la columna */
}

.card-item:hover {
  box-shadow: 5px 10px 20px 1px rgba(189, 20, 48, 0.886);
}

.efect-buton:hover {
  box-shadow: 5px 10px 20px 1px rgba(70, 201, 218, 0.886);
}

.card-text {
  flex-grow: 1;
  text-overflow: ellipsis;
  white-space: normal;
}
.card-item .card-img {
  object-fit: contain; /* Asegura que la imagen se ajuste correctamente */
  max-height: 150px; /* Limita la altura de la imagen */
}