.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #561C24;
  padding: 20px 40px;
  font-family: 'Roboto', sans-serif;
  border-top: 2px solid #E8D8C4;
  color: #E8D8C4;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 20px;
}

.footer-section h5 {
  color: #E8D8C4;
  font-size: 22px;
}

.developer-list {
  margin-left: 20px;
}

.developer-list li {
  margin-bottom: 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.developer-list a {
  margin-left: 10px;
  color: #E8D8C4;
  transition: color 0.3s ease;
}

.developer-list a:hover {
  color: #ffd700;
}

.logo-footer {
  max-width: 180px;
  margin-top: 40px;
}

.Text-contact {
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-text {
  margin-top: 30px;
  font-size: 18px;
}

.button-footer {
  background-color: #E8D8C4;
  color: #561C24;
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-footer:hover {
  background-color: #561C24;
  color: #E8D8C4;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
}
